.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-header2 {
  background-color: #282c34;
  min-height: 30.1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-body {
  background-color: #476aaf;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(50, 1fr); /* 100 equally sized columns */
  grid-template-rows: repeat(25, 1fr); /* 50 equally sized rows */
  background-color: rgb(255, 255, 255);
  padding: 10px;
  min-width: 90vh;
  min-height: 50vh;
  max-height: 50vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bar{

  background-color: red;
  width: 14px;
  height: 15px;

}



.grid-container {
  display: grid;
  justify-content: center;
  align-items: center;
  user-select: none; /* Prevents accidental text selection */
}

.cell {
  background-color: lightgray;
  border: 1px solid #ccc;
  cursor: pointer;
  box-sizing: border-box;
}
 

.cell.selected {
  background-color: blue;   /* Wall color */
}

.cell.start {
  background-color: green;  /* Start cell color */
}

.cell.end {
  background-color: red;    /* End cell color */
}

.cell.checked {
  background-color: rgb(249, 255, 62);
  transition: background-color 0.3s ease;
}

.cell.visited {
  background-color: rgb(4, 174, 231);
  transition: background-color 0.3s ease;
}

.cell.path {
  background-color: yellow;
  transition: background-color 0.3s ease;
}